/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: rgba(12, 82, 222, 0.8);
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
